*,
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: max-content;
}

.opsi {
    width: 500px;
}

select {
    width: 100%;
    border-radius: 20px;
    padding: 10px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.3;
}

select:hover {
    border-color: green;

}

select:focus {
    border-color: #999;
    box-shadow: 0 0 1px 2px green;
    outline: none;
}

select::-ms-expand {
    display: none;
}

table {
    border: none;
    padding: 10px;
    border-radius: 20px;
}

table th,
table td {
    border: none;
    border-radius: 10px;
    padding: 20px;
}